<div class="card text-dark bg-light h-100" (click)="handleKursusClick()" [routerLink]="['/kurser', kursus.id]">
  <div class="card-img-top text-center py-3" *ngIf="kursus?.imageUrl">
    <img [src]="kursus?.imageUrl" alt="Card image cap" style="width: 150px">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ kursus?.name }}</h5>
    <h6 class="card-subtitle mb-2"
      [ngClass]="paintTime()">{{ kursus?.startDate }} {{ kursus?.startTime }}</h6>
    <p class="card-text">{{ kursus?.description }}</p>

    <hr>
    <div *ngIf="kursus?.location">
      <h6>Adresse:</h6>
      <div>
        {{ kursus?.location?.address }}, {{ kursus?.location?.city }}, {{ kursus?.location?.country }}
      </div>
    </div>

  </div>

</div>
